@model (string Key, string? Value, LinkType LinkType, string? Description)

<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
        @Model.Key
    </dt>
    <dd class="govuk-summary-list__value">
        @if (Model.Value != null)
        {
            @switch (Model.LinkType)
            {
                case LinkType.WebPage:
                    @if (!string.IsNullOrEmpty(Model.Value))
                    {
                        <a href="@(Model.Value)">@(string.IsNullOrEmpty(Model.Description) ? Model.Value : Model.Description)</a>
                    }
                    break;
                case LinkType.WebPageInNewTab:
                    @if (!string.IsNullOrEmpty(Model.Value))
                    {
                        <a href="@(Model.Value)" rel="noreferrer noopener" target="_blank">@(string.IsNullOrEmpty(Model.Description) ? Model.Value : Model.Description) (opens in new tab)</a>
                    }
                    break;
                case LinkType.Email:
                    <a href="mailto:@(Model.Value)">@Model.Value</a>
                    break;
                case LinkType.Phone:
                    @*todo: 2 separate fields? should be global number (+), but do we have that, should we construct it. is 'remove spaces' enough?*@
                    @*see https://www.rfc-editor.org/rfc/rfc3966#page-6*@
                    <a href="tel:@Model.Value.Replace(" ", "")">@Model.Value</a>
                    break;
            }
        }
    </dd>
</div>
