@model IFilter

<div class="govuk-form-group app-filter-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            @Model.Description
        </legend>
        @switch (Model.FilterType)
        {
            case FilterType.Checkboxes:
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    @foreach (var aspect in Model.Aspects)
                    {
                        string checkboxId = $"{Model.Name}-{aspect.Value}";
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="@checkboxId" name="@Model.Name" type="checkbox" value="@aspect.Value"
                                   @if (Model.IsSelected(aspect))
                                   {
                                       @:checked
                                   }>
                            <label class="govuk-label govuk-checkboxes__label" for="@checkboxId">
                                @aspect.Description
                            </label>
                        </div>
                    }
                </div>
                break;
            case FilterType.Radios:
                <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
                    @foreach (var aspect in Model.Aspects)
                    {
                        string radioId = $"{Model.Name}-{aspect.Value}";
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="@radioId" name="@Model.Name" type="radio" value="@aspect.Value"
                               @if (Model.IsSelected(aspect))
                               {
                                   @:checked
                               }>

                            <label class="govuk-label govuk-radios__label" for="@radioId">
                                @aspect.Description
                            </label>
                        </div>
                    }
                </div>
                break;
            case FilterType.Select:
            case FilterType.SubGroups:
                <partial name="FilterGroups/@Model.PartialName" model="Model" />
                break;
        }
    </fieldset>
</div>
