@model Filter

<div class="govuk-form-group">
    <fieldset class="govuk-fieldset app-filter-group">
        @*moj standard vs prototype : govuk-fieldset__legend--m vs govuk-fieldset__legend--s*@
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            @Model.Description
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
            @foreach (var aspect in Model.Aspects)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@aspect.Id" name="@Model.Name" type="checkbox" value="@aspect.Id"
                           @if (aspect.Selected)
                           {
                               @:checked
                           }
                    >
                    <label class="govuk-label govuk-checkboxes__label" for="@aspect.Id">
                        @aspect.Description
                    </label>
                </div>
            }                        
        </div>
    </fieldset>
</div>
